.Demo-Button{
    display:inline-block;
    /* width:100%; */
    /* background-color: rgb(74, 131, 202); */
    color: rgb(74, 131, 202);
    /* border-radius:5px;
    border-width: thin;
    padding:10px;
    margin-bottom: 5%;
    border: none; */
    font-weight: bold;
    cursor: pointer;
    padding: 8%;
    text-align: center;
    border-radius: 10px;
    font-size: larger;
    border-width: thin;
}
