.likes-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
  }

  .Comment-Container{
    display: flex;
    /* align-items: center; */
    border-style: solid;
    border-color: rgb(0, 255, 102);
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .likecomment-description-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    /* border-style: solid;
    border-color: rgb(0, 38, 255); */
    background-color: white;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
  }


  .Like-container{
    border-style: solid;
    border-color: red;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .Comment-Container{
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: rgb(0, 255, 102);
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .fa-solid{
    padding: 10px;
    background-color: white;
    border: none;
    color:rgb(59, 89, 152);
  }

  .fa-regular{
    padding: 30px;
    background-color: white;
    border: none;
    color:rgb(59, 89, 152);
  }
  .fa-regular:hover{
    padding: 10px;
    background-color: rgb(240, 242, 245);
    border: none;
    color: rgb(95, 95, 95);
  }
  .fa-solid:hover{
    padding: 30px;
    background-color: rgb(240, 242, 245);
    border: none;
    color: rgb(95, 95, 95);
  }
