html {background-color: rgb(240, 242, 245)}


.home-container{
    display: flex;
    width: 100%;
    height: 100%px;
    justify-content: center;
    /* border-style: solid; */
    /* border-color: rgb(255, 81, 0);
    background-color: rgb(240, 242, 245); */
}

.home-inner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 80%;
    /* border-style: solid;
    border-color: aqua; */
    margin-left: 10%;
}

.left-container{
    width: 20%;
    /* margin-top: 4%; */
    /* margin-left: 10%; */
    margin-right: 5%;
    /* border-style: solid;
    border-color: rgb(255, 47, 0); */
}

.facebook-logo{
    width:50%;
    object-fit: fill;
    padding-bottom: 2%;
    font-weight: bold;
}

.Recent-Login{
    font-size: x-large;
}

.click-your-picture{
    color: rgb(95, 95, 95);
    padding-bottom: 5%;
}


.right-container{
    /* border-style: solid;
    border-color: rgb(0, 255, 68); */
    width: 50%;
    height: 950px;
    /* margin-left: 1%; */
}

.right-top-container{
    display: flex;
    flex-direction: column;
    /* height: 50%; */
    width: 50%;
    height: 300px;
    border-style: solid;
    border-color: rgb(193, 192, 192);
    border-width: thin;
    /* border-style: solid;
    border-color: rgb(34, 0, 255); */
    /* padding-top: 50%; */
    margin-top:43%;
    padding-bottom: 20px;
border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    /* padding-top: 9%; */
}

.inner-right-top-container{
    /* border-style: solid;
    border-color: rgb(0, 255, 128); */
    width: 100%;
}

.User-Email-Container{
    /* border-style: solid;
    border-color: rgb(0, 255, 0); */
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 100%;
    height: 87%;
}

/* .inner-form-sign-container{
    border-style: solid;
    border-color: rgb(255, 200, 0);
    width: 100%;
    margin-left: 10%
} */

/* .Password-Container{
    border-style: solid;
    border-color: rgb(255, 0, 123);
    width: 80%;
    margin-left: 10%
} */

.form-inputs{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    border-width: thin;
    border-color:rgb(219, 222, 222);
    width: 98%;
    height: 50px;
    font-size: 18px;
}

.home-page-logo{
    width: 100%;
    height: 100px;
}
.Login-Container{
    display: flex;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
}

.Login-Button{
    background-color: rgb(59, 89, 152);
    font-size: larger;
    font-weight: bold;
    width: 100%;
    height: 25%;
    border-radius: 5px;
    cursor: pointer;
    color: white;

}

.Create-New-Account{
    background-color: rgb(66, 183, 42);
    font-size: larger;
    font-weight: bold;
    height: 45px;
    width: 76%;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-align: center;
}

.Demo-Container{
    display: flex;
    justify-content: flex-start;
    /* width: 80%; */
}
.or-container{
    width: 80%;
    margin-left: 10%;
}

.orimage{
    width:100%;
}
.three-part-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.right-bottom-container{
    border-style: solid;
    border-color: rgb(193, 192, 192);
    border-width: thin;
    height: 10%;
    width: 100%;
    margin-top: 1%;
    background-color: white;
    justify-content: center;
    align-items: center;
    /* border-style: solid;
    border-color: rgb(255, 0, 230); */
}

.inner-right-bottom-top-container{
display: flex;
justify-content: center;
align-items: center;
/* border-style: solid;
    border-color: rgb(0, 255, 26); */

}

.dont-have-account{
    display: inline-block;
    text-align: center;
    /* border-style: solid;
    border-color: rgb(34, 0, 255); */
}

.sign-up{
    color: rgb(74, 131, 202);
    font-weight: bold;
    padding-left: 3%;
    cursor: pointer;
}

/* .signup-modal-container{
    display: flex;
    width: 30%;
    padding: 10%;
    border-style: solid;
    border-color: rgb(34, 0, 255);
} */

.Create-New-Account-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    width: 100%;
}
