.home-container{
    display: flex;
    justify-content: center;
}

.all-spots-card-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 50%;
    height: 100%;
    grid-gap:20px;
}

.top-profilepage-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.User-Information-container{
    display: flex;
    flex-direction: row;
    width: 40%;
    border-style: solid;
    border-color: rgb(128, 0, 98);
    background-color: white;
    border-bottom: solid;
    border-width: thin;
    padding: 1%;
}

.make-firstpost{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    margin-top: 10%;
}

.UserInformation{
    margin-bottom: 5%;
}
