.group-container-left{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.home-name{
    display: flex;
    flex-direction: column;
}

.tab-home{

}

.tab-name{

}

.watch-marketplace-gaming{
    display: flex;
    flex-direction: column;
    border-bottom: solid;
    border-color: black;
}

.groups-list{
    display: flex;
    margin-top: 5%;
}
